/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* {
  box-sizing: border-box;
  transition: .5s ease-in-out;
} // ???



.header {
  text-align: left;
  width: 100%;
  background-color:  #e0e0e0;
  height: 60px;
  margin: 0;
  position: fixed;
  left: 0;
  top: 0;
  padding: 0;
}
ul.navmenu li {
  display: inline-block;
}
ul.navmenu li a {
  text-decoration: none;
  font-size: 24px;
  margin: 0;
}
ul.navmenu li a:hover{
  color: #000000;
  background-color: #d1d1d1;
}
